:root {
  --color-link: #c4c4cc;
  --color-link-hover: #dcff16;

  --color-title: #e1e1e6;

  --color-button-text: #02799d;
  --color-button: #fff;
  --color-404: #111;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(./assets/mountains-universe-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

body.page-theuniverse {
  background-image: url(./assets/mountains-universe-2.png);
}

body.page-exploration {
  background-image: url(./assets/mountains-universe-3.png);
}

body.page-404 {
  background-image: url(./assets/404.jpg);
}

header {
  display: flex;
  justify-content: left;
  gap: 3.2rem;
  align-items: center;
  padding: 4rem 7.2rem;
}

a {
  font-weight: normal;
  font-size: 2.4rem;
  text-decoration: none;
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
  opacity: 0.8;
}

a.visited-current {
  font-weight: bold;
  font-size: 2.6rem;
}

/* Home */
h1 {
  color: var(--color-title);
  font-weight: bold;
  font-size: 4.8rem;
}

#app #home,
#app #page404 {
  margin: 0 auto;

  display: grid;
  place-content: center;
  justify-items: center;
  height: calc(100vh - 31rem);
}

#home button,
#app #page404 a {
  margin-top: 2.4rem;
  padding: 1.2rem 3.2rem;
  background-color: transparent;
  color: var(--color-button);

  border: 2px solid var(--color-button);
  border-radius: 0.5rem;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2.4rem;

  width: max-content;

  cursor: pointer;
}

#app #page-theuniverse h1,
#app #page-exploration h1 {
  color: var(--color-title);
  font-size: 4.8rem;
  font-weight: bold;
  margin-top: 6.3rem;
  margin-left: 10.2rem;
}

#app #page-theuniverse p,
#app #page-exploration p {
  color: var(--color-title);
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 1.6rem;
  margin-left: 10.2rem;
  max-width: 64.8rem;
  line-height: 160%;
}

#home button:hover {
  color: var(--color-button-text);
  background-color: var(--color-button);
}

#app #page404 h1 {
  color: var(--color-404);
}

#app #page404 a {
  color: var(--color-button404);
  border: 2px solid var(--color-404);
}

#app #page404 a:hover {
  border: 2px solid var(--color-button);
  color: var(--color-button-text);
  background-color: var(--color-button);
}
